body {
  background-color: lightgray !important;
  


}

.white-div{
  background-color:white;
  margin-right: ;

}


.titles {
    color: rgb(44, 148, 113);
    font-weight: bold; 

}
.subtitles {
  color: rgb(44, 148, 113);
  font-weight: bold; 
}

.navbar-brand {

}

@media (max-width: 600px){

  #dropdown-menu-small{
    padding-right: 3px !important;
  }
}